div{
    height: 300px;
    width: 300px;
    background-color: aquamarine;
    transition: 1s ease-in-out;
}

div:hover{
    /* transform: rotate(60deg); */
    /* transform: scale(1.25); */
    transform: skew(30deg, 30deg);
}